
%input#obj{:type=>'hidden', :value => 'home_page'}
= form_for(@hp, :url => home_page_update_url, :method => 'post', :html => {:class => 'form-stacked', :multipart => true}) do |f|
  
  %div.span8
    %h2 Attach Files
    %div
      %input#redirect_url{:type => 'hidden', :name=> 'home_page[redirect_url]'}
      %a#new_upload.btn.success{:href=>'#'} New Upload
    %ul#files
  
      =f.fields_for :file_uploads do |file_upload|
        = render :partial => 'shared/file_upload', :locals => {:file_upload => file_upload, :f => f}
    
  %div.span8
      



  %div.actions
    =f.submit :class => 'btn primary', :value => 'Save Changes'
