%div#slide_show
	%div#controls
		.next
			%a{:href=>'#', :title => "Next Image"} Next &#x2192; 
		.previous
			%a{:href=>'#', :title => "Previous Image"} &#x2190; Previous
	%div#images
		-@hp.file_uploads.each do |image|
			=image_tag image.upload.url
