%aside#secondary.three.columns.alpha
  %ul
    %li.selected
      %a{:href => "#", :title => "Item One"}
        Recent
    %li
      %a{:href => "#", :title => "Item Two"}
        Press Releases
    %li
      %a{:href => "#", :title => "Item Three"}
        Highlighted Projects
    %li
      %a{:href => "#", :title => "Item Four"}
        Archives