%aside#secondary.three.columns.alpha
  %ul
    %li.selected
      %a{:href => "#", :title => "Item One"}
        Item One
    %li
      %a{:href => "#", :title => "Item Two"}
        Item Two
    %li
      %a{:href => "#", :title => "Item Three"}
        Item Three
    %li
      %a{:href => "#", :title => "Item Four"}
        Item Four