%div.well
	= link_to 'New Page', new_page_item_url, :class => 'btn primary'

%ul#pages
	-@pages.each do |page|
		%li{:data => {:id => page.id}}
			%div.move
				&#11021;
			=link_to page.name, page.route('edit')