<div class="well">

<%= link_to '&#x2190 Back'.html_safe, news_index_path, :class => 'btn' %>
<%= link_to 'Preview', news_path(@news), :class=> 'btn' %>
</div>



<h1>Editing News</h1>

<%= render 'form' %>


