= render :partial => "shared/secondarynav-news"

%h1 News

- @news_items.each do |news_item|
  %article.news-item  
    %h2= link_to news_item.title, news_path(news_item)
    %div.news-body=news_item.body.html_safe