%h1 Projects
%h2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
%h3
  %a{:href => "#", :title => "View All Projects"}
    View All Projects

#sectors
  %h2
    %a{:href => "#", :title => "View Healthcare Projects"}
      Healthcare
  %h2
    %a{:href => "#", :title => "View Laboratory/Research Projects"}
      Laboratory/Research
  %h2
    %a{:href => "#", :title => "View Corporate/Academic Projects"}
      Corporate/Academic      
  %h2
    %a{:href => "#", :title => "View Justice Projects"}
      Justice
  %h2
    %a{:href => "#", :title => "View Recreation and Culture Projects"}
      Recreation &amp; Culture
  %h2
    %a{:href => "#", :title => "View Highlighted Projects"}
      Highlights