@font-face {
    font-family: 'AvenirLTStd35Light';
    src: url('/assets/avenir_webfont/avenirltstd-light-webfont.eot');
    src: url('/assets/avenir_webfont/avenirltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/avenir_webfont/avenirltstd-light-webfont.woff') format('woff'),
         url('/assets/avenir_webfont/avenirltstd-light-webfont.ttf') format('truetype'),
         url('/assets/avenir_webfont/avenirltstd-light-webfont.svg#AvenirLTStd35Light') format('svg');
    font-weight: normal;
    font-style: normal;

}

