!!! 5
%html
%head
  %title Parkin - Website Administration
  = stylesheet_link_tag 'bootstrap', 'app', 'jquery-ui-1.8.16.custom'
  = javascript_include_tag 'application'
  = csrf_meta_tags
%body

  %div.topbar{:data => {:dropdown => 'dropdown'}}
    %div.topbar-inner
      %div.container
        %h3 
          %a{:href=> '/'} Parkin
        %ul.nav
          =setup_links.html_safe


  %div#content.container
    = yield
